.what-template {
    font-family: 'Arial';
    position: fixed;
    font-size: 0.9rem;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.50);
    padding: 1px;
    z-index: 99999999;
    color: #ffffff;
 }

.what-template #stuffToShow {
    display:none;
    font-size: 12px;
    padding: 10px 0px 0px 20px;
}

.what-template #checkbox {
    display: none;
}

.what-template #checkbox:checked + #stuffToShow {
    display:block;
}

.what-template #checkboxLabel {
    font-size: 10px;
    font-weight: lighter;
    color: #ffffff8a;
}
